/* ========================================================================
 *
 * Default element overrides`
 *
 * ======================================================================== */
body, html {
    background: #FFFFE0 url('../images/site_bg.png');
    background: transparent url('../images/site_bg4.jpg');
    margin:0;
    padding:0;
    height:100%;
}

/* ========================================================================
 *
 * Site Layout
 *
 * ======================================================================== */
#site_wrapper {
    min-height:100%;
    position:relative;
}
/* ========================================================================
 * Top Stuff
 * ======================================================================== */
#header_wrapper {
    background: transparent url('../images/header_shadow.png') repeat-x;
    height: 200px;
    position: relative;
}
#header_wrapper h1 {
    bottom: 10px;
    font-family:'Lobster', cursive;
    font-size: 3em;
    font-weight: normal;
    left: 45%;
    margin: 0;
    position: absolute;
    text-align: center;
    text-shadow: 0 2px 5px #ffffff;
}
#header_lights {
    background: transparent url('../images/header_lights.png') repeat-x;
    height: 157px;
    position: absolute;
    top: 10px;
    width: 100%;
}

/* ========================================================================
 * Links
 * ======================================================================== */
#link_wrapper a {
    color: #000000;
    font-family:'Lobster', cursive;
    font-size: 1.5em;
    margin: 0 50px 0 0;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 2px #ffffff;
}
#link_wrapper a:hover {
    color: #ffffff;
    text-shadow: 0 0 25px rgba(50,50,50,.6);
}
#link_wrapper {
    background: #FFEC8B;
    border: 2px solid #000000;
    margin: 10px 5px 10px 5px;
    padding: 10px 5px 10px 5px;
}
/* ========================================================================
 * Content Wrapper
 * ======================================================================== */
#content_wrapper {
    padding-bottom: 140px;
}

/* ========================================================================
 * Footer Wrapper
 * ======================================================================== */
#footer_wrapper {
    background: transparent;
    bottom:0;
    left:0;
    height: 170px;
    position:absolute;
    right:0;
}

/* ========================================================================
 *
 * Reusable classes
 *
 * ======================================================================== */
.simple_font {
    font-family: "Arial", "Helvetica", serif !important;
}
