@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: normal;
  src: local('Lobster'), url('http://themes.googleusercontent.com/static/fonts/lobster/v5/MWVf-Rwh4GLQVBEwbyI61Q.woff') format('woff');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url('http://themes.googleusercontent.com/static/fonts/quicksand/v2/sKd0EMYPAh5PYCRKSryvWz8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: local('Quicksand Bold'), local('Quicksand-Bold'), url('http://themes.googleusercontent.com/static/fonts/quicksand/v2/32nyIRHyCu6iqEka_hbKsnhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}
@font-face {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 400;
    src: local('Alegreya'), local('Alegreya-Regular'), url('http://themes.googleusercontent.com/static/fonts/alegreya/v3/MYFQxfgoxFvFirdbdLj3M_esZW2xOQ-xsNqO47m55DA.woff') format('woff');
}
/* ========================================================================
 *
 * Default element overrides`
 *
 * ======================================================================== */
body, html {
    background: transparent url('../images/site_bg4.jpg');
    color: #ffffff;
    font-weight: bold;
    font-family: "Alegreya", Arial;
    margin:0;
    padding:0;
    height:100%;
    text-shadow: 0 0 5px #000000, 0 2px 10px #000000;
}
a {
    text-decoration: none;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover, a:active {
  outline: 0;
}
h1, h2, h3, h4 {
  text-rendering: optimizelegibility;
}
h2 {
    border-bottom: 1px solid rgba(255, 255, 255, .7);
}
h3 {
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    font-size: 1.25em;
    margin: 1.5em 0 .2em 0;
}
img {
  -ms-interpolation-mode: bicubic;
}

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button, input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}

input,
textarea,
select,
.uneditable-input {
  margin-bottom: 9px;
  line-height: 18px;
  color: #555555;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
textarea {
  height: auto;
}
input, textarea {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
input:focus, textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

}
input:focus:required:invalid, textarea:focus:required:invalid, select:focus:required:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}
input:focus:required:invalid:focus, textarea:focus:required:invalid:focus, select:focus:required:invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

input {
    padding:6px 3px;
}
/* ========================================================================
 *
 * Animation
 *
 * ======================================================================== */
@keyframes pulsating_heart {
    from {
        color: #ffffff;
        text-shadow: 0 0 5px #000000, 0 2px 10px #000000, 0 0 20px #ffff00;
    }
    to {
        color: #ffffff;
        text-shadow: 0 0 5px #000000, 0 2px 10px #000000, 0 0 70px #ffff00;
    }
}
@-moz-keyframes pulsating_heart {
    from {
        color: #ffffff;
        text-shadow: 0 0 5px #000000, 0 2px 10px #000000, 0 0 20px #ffff00;
    }
    to {
        color: #ffffff;
        text-shadow: 0 0 5px #000000, 0 2px 10px #000000, 0 0 70px #ffff00;
    }
}
@-webkit-keyframes pulsating_heart {
    from {
        color: #ffffff;
        text-shadow: 0 0 5px #000000, 0 2px 10px #000000, 0 0 20px #ffff40;
    }
    to {
        color: #ffffff;
        text-shadow: 0 0 5px #000000, 0 2px 10px #000000, 0 0 70px #ffff40;
    }
}
/* ========================================================================
 *
 * Site Layout
 *
 * ======================================================================== */
#site_wrapper {
    min-height:100%;
    position:relative;
}
/* ========================================================================
 * Top Stuff
 * ======================================================================== */
#header_wrapper {
    background: transparent url('../images/site_bg4.jpg');
    left:0;
    position: fixed;
    height: 250px;
    right:0;
    top:0;
    z-index:100; 
}
#header_shadow {
    background: transparent url('../images/header_shadow.png') repeat-x;
    height: 190px;
    position: relative;
    z-index: 101;
}
#header_lights {
    background: transparent url('../images/header_lights.png') repeat-x;
    height: 177px;
    position: absolute;
    top: 10px;
    width: 100%;
    z-index:102;
}
    #header_lights h1 {
        bottom: 40px;
        color: #ffffff;
        font-family:'Lobster', cursive;
        font-size: 7em;
        font-weight: normal;
        left: 0;
        margin: 0;
        position: absolute;
        right: 0;
        text-align: center;
        text-shadow: 0 0 5px #000000, 0 2px 10px #000000;
    }
#heart {
    animation: pulsating_heart 2.2s;
    -moz-animation: pulsating_heart 2.2s;
    -webkit-animation: pulsating_heart 2.2s;
    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-direction: alternate;
    -moz-animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}
#wedding_date {
    bottom: 0;
    color: #ffffff;
    font-size: 2em;
    left: 0;
    padding: 0 3.5em 0 0;
    position: absolute;
    right: 0;
    text-align: center;
}
/* ========================================================================
 * Links
 * ======================================================================== */
#link_wrapper {
    background: #FFEC8B;
    border: 2px solid #000000;
    border-radius: 8px;
    box-shadow: 0 0 3px #ffffff, 0 10px 38px #000000, 0 -5px 28px #000000;
    color: #2c2d32;
    font-family:'Lobster', cursive;
    font-size: 1.5em;
    margin: 10px 5px 40px 5px;
    padding: 10px 5px 10px 5px;
    text-align: center;
}
    #link_wrapper a {
        color: #2c2d32;
        margin: 0 50px 0 0;
        text-decoration: none;
        text-shadow: 0 2px 1px #ffffff;
    }
    #link_wrapper a:hover {
        color: #ffffff;
        text-shadow: 0 0 8px #000000, 0 2px 20px #000000;
    }

    #link_wrapper .active_link {
        color: #ffffff;
        text-shadow: 0 0 5px #000000, 0 2px 10px #000000;
    }
/* ========================================================================
 * Content Wrapper
 * ======================================================================== */
#site_content_wrapper {
    line-height: 1.6em;
    padding: 280px 0 50px 0;
    position: relative;
    z-index:1;
}
    #site_content_wrapper a {
        color: #FFEC8B;   
    }
    #site_content_wrapper a:hover {
        color: #ffffff;   
        text-decoration: underline;
        text-shadow: 0 0 5px #000000, 0 1px 20px #000000;
    }

#content_wrapper {
    background: rgba(170,170,170,.3);
    border: 1px solid rgba(170,170,170,.5);
    border-radius: 10px;
    font-size: 1.2em;
    position:relative;
    margin: 0 5% 0 17%;
}
.content_item_left{
    clear: both;
    min-height: 464px;
    margin:0 0 1em 0;
    padding: 0 20px 10px 180px;
    position: relative;
}
.content_item_left_large {
    padding: 0 20px 10px 420px;
}
.polaroid_photo {
    box-shadow: 0 2px 10px #000000, 0 2px 30px #000000;
    background: #e7e7e7 url('../images/paper.png');
    display: block;
    left: -150px;
    padding: 10px 10px 50px 10px;
    position: absolute;
    top: 0;
}
.polaroid_photo img {
    border: 1px solid rgba(0,0,0,.2);
    height: 375px;
    width: 282px;
}
.polaroid_photo_caption {
    background: transparent url('../images/grid_noise.png');
    border:1px solid rgba(255,255,255,.4);
    bottom: 10px;
    color: #1b1c21;
    font-family: 'Lobster', cursive;
    font-size:1.4em;
    left: 10px;
    position: absolute;
    right: 10px;
    text-align: center;
    text-shadow: 0 1px 1px #ffffff;
}
#warners1 img{
    height: 336px;
    width: 525px;
}
#hazzards img{
    height: 336px;
    width: 525px;
}

/* ========================================================================
 * Guest Book
 * ======================================================================== */
label {
    cursor: pointer;
    display: block;
}
#input_name_answer_wrapper {
    float: left;
    margin:0 1% 0 0;
    width: 33%;
}
    #input_answer_wrapper {
        margin:1em 0 0 0;
    }
#input_message_wrapper {
    float:left;
    margin:0;
    width:65%;
}
    .input_wrapper .grey {
        font-size:.9em;
        padding:0 .5em; 
    }
    .input_wrapper input {
        font-size:.8em;
        width: 80%;
    }
    .input_wrapper textarea {
        font-size:.8em;
        min-height:115px;
        width: 99%;
    }
#submit_input_wrapper {
    margin:1em 0 0 0;
    position:relative;
    text-align:right ;
    width:100%;
}


#guest_book_messages h2 {
    margin:.1em 0 .8em 0;
}
.guest_book_message {
    margin: 0 0 2em 0;
}
.message_name { 
    font-size:1.1em;
    border-bottom:1px solid rgba(255,255,255, .2);
}
/* ========================================================================
 * Footer Wrapper
 * ======================================================================== */
#footer_wrapper {
    background: transparent;
    bottom:0;
    font-size:2em;
    left:0;
    height: 80px;
    position:absolute;
    right:0;
}

#footer {
    bottom: 10px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}
/* ========================================================================
 *
 * Reusable classes
 *
 * ======================================================================== */
.simple_font {
    font-family: "Arial", "Helvetica", serif !important;
}
.cursive {
    font-family:'Lobster', cursive, Arial;
}
.italicized {
    font-style: italic;
    padding:0 1em 0 0;
}
.grey {
    color: rgba(170,170,170,.9);
}
.message_success, .message_error {
    background: rgba(40, 255, 40, .5);
    padding: .3em;
    margin: 1em 0;
    border-radius: 6px;
    border: 1px solid rgba(40, 255, 40, .2);
}
.message_error {
    background: rgba(255, 40, 40, .5);
    border: 1px solid rgba(255, 40, 40, .2);
}
.left_padding {
    padding: 0 0 0 30px;
}
.clear { clear: both; }


/* ========================================================================
 *
 * Buttons
 *
 * ======================================================================== */
input[type="submit"], .button, button {
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    /*
    font: bold 12px 'Questrial', Helvetica, Arial, sans-serif;
    */
    border: 1px solid #ACACAC;
    border-top-color: #BDBDBD;
    border-bottom-color: #949494;

    color: @color_black;
    cursor: pointer;
    display: inline-block;
    font-size:.9em;
    font-weight:bold;
    margin-right: 10px;
    padding: 7px 12px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;


    /* Darker buttons */
    .normal_button_background;
}
input[type="submit"]:hover, .button:hover, button:hover {
    color: #111;
    border-color: #999;
    -moz-box-shadow: 0 0 4px #ffffff, 0 0 20px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 4px #ffffff, 0 0 20px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 4px #ffffff, 0 0 20px rgba(0, 0, 0, 0.8);
}
input[type="submit"]:active, .button:active, button:active {
    color: #000 !important;
    border-color: #444 !important;
    border:1px solid #979797 !important;
    border-top:1px solid #707070 !important;
    background: #000!important;
    background: -webkit-gradient(linear, left top, left bottom, from(#c3c3c3), to(#ebebeb)) !important;
    background: -moz-linear-gradient(top, #c3c3c3, #ebebeb) !important;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,.1) !important;
    -webkit-box-shadow: inset 2px 2px 2px rgba(0,0,0,.1) !important;
    -moz-box-shadow: inset 2px 2px 2px rgba(0,0,0,.1) !important;
    -o-box-shadow:  inset 2px 2px 2px rgba(0,0,0,.1) !important;
}

.button_big {
    padding:.7em 9em !important;
}

.button_yellow {
  background-color: hsl(61, 93%, 53%) !important;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(hsl(61, 93%, 91%)), to(hsl(61, 93%, 53%)));
  background-image: -moz-linear-gradient(top, hsl(61, 93%, 91%), hsl(61, 93%, 53%));
  background-image: -ms-linear-gradient(top, hsl(61, 93%, 91%), hsl(61, 93%, 53%));
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(61, 93%, 91%)), color-stop(100%, hsl(61, 93%, 53%)));
  background-image: -webkit-linear-gradient(top, hsl(61, 93%, 91%), hsl(61, 93%, 53%));
  background-image: -o-linear-gradient(top, hsl(61, 93%, 91%), hsl(61, 93%, 53%));
  background-image: linear-gradient(hsl(61, 93%, 91%), hsl(61, 93%, 53%));
  border-color: hsl(61, 93%, 53%) hsl(61, 93%, 53%) hsl(61, 93%, 43.5%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.62);
  -webkit-font-smoothing: antialiased;
}
