@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: normal;
  src: local('Lobster'), url('http://themes.googleusercontent.com/static/fonts/lobster/v5/MWVf-Rwh4GLQVBEwbyI61Q.woff') format('woff');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url('http://themes.googleusercontent.com/static/fonts/quicksand/v2/sKd0EMYPAh5PYCRKSryvWz8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: local('Quicksand Bold'), local('Quicksand-Bold'), url('http://themes.googleusercontent.com/static/fonts/quicksand/v2/32nyIRHyCu6iqEka_hbKsnhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}
@font-face {
    font-family: 'Alegreya';
    font-style: normal;
    font-weight: 400;
    src: local('Alegreya'), local('Alegreya-Regular'), url('http://themes.googleusercontent.com/static/fonts/alegreya/v3/MYFQxfgoxFvFirdbdLj3M_esZW2xOQ-xsNqO47m55DA.woff') format('woff');
}
/* ========================================================================
 *
 * Default element overrides`
 *
 * ======================================================================== */
body, html {
    background: transparent url('../images/site_bg4.jpg');
    color: #ffffff;
    font-weight: bold;
    font-family: "Alegreya", Arial;
    margin:0;
    padding:0;
    height:100%;
    text-shadow: 0 0 5px #000000, 0 2px 10px #000000;
}
a {
    text-decoration: none;
}
h2 {
    border-bottom: 1px solid rgba(255, 255, 255, .7);
}
h3 {
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    font-size: 1.25em;
    margin: 1.5em 0 .2em 0;
}

@keyframes pulsating_heart {
    from {
        color: #ffffff;
        text-shadow: 0 0 5px #000000, 0 2px 10px #000000, 0 0 20px #ffff00;
    }
    to {
        color: #ffffff;
        text-shadow: 0 0 5px #000000, 0 2px 10px #000000, 0 0 70px #ffff00;
    }
}
@-moz-keyframes pulsating_heart {
    from {
        color: #ffffff;
        text-shadow: 0 0 5px #000000, 0 2px 10px #000000, 0 0 20px #ffff00;
    }
    to {
        color: #ffffff;
        text-shadow: 0 0 5px #000000, 0 2px 10px #000000, 0 0 70px #ffff00;
    }
}
@-webkit-keyframes pulsating_heart {
    from {
        color: #ffffff;
        text-shadow: 0 0 5px #000000, 0 2px 10px #000000, 0 0 20px #ffff40;
    }
    to {
        color: #ffffff;
        text-shadow: 0 0 5px #000000, 0 2px 10px #000000, 0 0 70px #ffff40;
    }
}
/* ========================================================================
 *
 * Site Layout
 *
 * ======================================================================== */
#site_wrapper {
    min-height:100%;
    position:relative;
}
/* ========================================================================
 * Top Stuff
 * ======================================================================== */
#header_wrapper {
    background: transparent url('../images/site_bg4.jpg');
    left:0;
    position: fixed;
    height: 250px;
    right:0;
    top:0;
    z-index:100; 
}
#header_shadow {
    background: transparent url('../images/header_shadow.png') repeat-x;
    height: 190px;
    position: relative;
    z-index: 101;
}
#header_lights {
    background: transparent url('../images/header_lights.png') repeat-x;
    height: 177px;
    position: absolute;
    top: 10px;
    width: 100%;
    z-index:102;
}
    #header_lights h1 {
        bottom: 40px;
        color: #ffffff;
        font-family:'Lobster', cursive;
        font-size: 7em;
        font-weight: normal;
        left: 0;
        margin: 0;
        position: absolute;
        right: 0;
        text-align: center;
        text-shadow: 0 0 5px #000000, 0 2px 10px #000000;
    }
#heart {
    animation: pulsating_heart 2.2s;
    -moz-animation: pulsating_heart 2.2s;
    -webkit-animation: pulsating_heart 2.2s;
    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-direction: alternate;
    -moz-animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}
#wedding_date {
    bottom: 0;
    color: #ffffff;
    font-size: 2em;
    left: 0;
    padding: 0 3.5em 0 0;
    position: absolute;
    right: 0;
    text-align: center;
}
/* ========================================================================
 * Links
 * ======================================================================== */
#link_wrapper {
    background: #FFEC8B;
    border: 2px solid #000000;
    border-radius: 8px;
    box-shadow: 0 0 3px #ffffff, 0 10px 38px #000000, 0 -5px 28px #000000;
    color: #2c2d32;
    font-family:'Lobster', cursive;
    font-size: 1.5em;
    margin: 10px 5px 40px 5px;
    padding: 10px 5px 10px 5px;
    text-align: center;
}
    #link_wrapper a {
        color: #2c2d32;
        margin: 0 50px 0 0;
        text-decoration: none;
        text-shadow: 0 2px 1px #ffffff;
    }
    #link_wrapper a:hover {
        color: #ffffff;
        text-shadow: 0 0 8px #000000, 0 2px 20px #000000;
    }

    #link_wrapper .active_link {
        color: #ffffff;
        text-shadow: 0 0 5px #000000, 0 2px 10px #000000;
    }
/* ========================================================================
 * Content Wrapper
 * ======================================================================== */
#site_content_wrapper {
    line-height: 1.6em;
    padding: 280px 0 50px 0;
    position: relative;
    z-index:1;
}
    #site_content_wrapper a {
        color: #FFEC8B;   
    }
    #site_content_wrapper a:hover {
        color: #ffffff;   
        text-decoration: underline;
        text-shadow: 0 0 5px #000000, 0 1px 20px #000000;
    }

#content_wrapper {
    background: rgba(170,170,170,.3);
    border: 1px solid rgba(170,170,170,.5);
    border-radius: 10px;
    font-size: 1.2em;
    position:relative;
    margin: 0 5% 0 17%;
}
.content_item_left{
    clear: both;
    min-height: 464px;
    margin:0 0 1em 0;
    padding: 0 20px 10px 180px;
    position: relative;
}
.content_item_left_large {
    padding: 0 20px 10px 420px;
}
.polaroid_photo {
    box-shadow: 0 2px 10px #000000, 0 2px 30px #000000;
    background: #e7e7e7 url('../images/paper.png');
    display: block;
    left: -150px;
    padding: 10px 10px 50px 10px;
    position: absolute;
    top: 0;
}
.polaroid_photo img {
    border: 1px solid rgba(0,0,0,.2);
    height: 375px;
    width: 282px;
}
.polaroid_photo_caption {
    background: transparent url('../images/grid_noise.png');
    border:1px solid rgba(255,255,255,.4);
    bottom: 10px;
    color: #1b1c21;
    font-family: 'Lobster', cursive;
    font-size:1.4em;
    left: 10px;
    position: absolute;
    right: 10px;
    text-align: center;
    text-shadow: 0 1px 1px #ffffff;
}
#warners1 img{
    height: 336px;
    width: 525px;
}
#hazzards img{
    height: 336px;
    width: 525px;
}

/* ========================================================================
 * Guest Book
 * ======================================================================== */
.guest_book_message {
    margin: 0 0 2em 0;
}
.message_name { 
    font-size:1.1em;
    border-bottom:1px solid rgba(255,255,255, .2);
}
label {
    cursor: pointer;
    display: block;
}
.input_wrapper {
    float: left;
    margin:0 0 1% 0;
    width: 32%;
}
.input_wrapper .grey {
    font-size:.9em;
    padding:0 .5em; 
}
/* ========================================================================
 * Footer Wrapper
 * ======================================================================== */
#footer_wrapper {
    background: transparent;
    bottom:0;
    font-size:2em;
    left:0;
    height: 80px;
    position:absolute;
    right:0;
}

#footer {
    bottom: 10px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
}
/* ========================================================================
 *
 * Reusable classes
 *
 * ======================================================================== */
.simple_font {
    font-family: "Arial", "Helvetica", serif !important;
}
.cursive {
    font-family:'Lobster', cursive, Arial;
}
.italicized {
    font-style: italic;
    padding:0 1em 0 0;
}
.grey {
    color: rgba(170,170,170,.9);
}
.message_success, .message_error {
    background: rgba(40, 255, 40, .5);
    padding: .3em;
    margin: 1em 0;
    border-radius: 6px;
    border: 1px solid rgba(40, 255, 40, .2);
}
.message_error {
    background: rgba(255, 40, 40, .5);
    border: 1px solid rgba(255, 40, 40, .2);
}
.left_padding {
    padding: 0 0 0 30px;
}
.clear { clear: both; }
