{% extends 'website/base.html' %}

{% block site_content %}
    <h2>Guest Info</h2> 
    <a id="our_story_portrait" class="polaroid_photo" href="#">
        <img class="content_image" src="/static/images/photos/66.jpg" /> 
        <div id="our_story_caption" class="polaroid_photo_caption">
            February 2009
        </div>
    </a>    
    <h3>The Wedding</h3>
    We are having the wedding outdoors at the Lakewood Fireman's Lodge. There is an indoor area in case of weather, but we hope that it will be a rustic and informal event that will take place out side. The ceremony will be around dusk on Saturday, September 1, with the reception to follow, so we suggest bringing a lightweight sweater or jacket. Check back later for more details!
    <h3>Flying</h3>
    The closest airport is in Jamestown, New York, but it is usually cheaper to fly into Buffalo and then drive to Jamestown. The drive is about an hour and a half from Buffalo to Jamestown. (If you would like to share a rental car with another wedding guest, feel free to leave a note in the guest book.)
    <h3>Hotels</h3>
    We have a group-rate at the Comfort Inn, located at 2800 North Main St. Jamestown (call 716-664-5920 and ask for the Warner/Hazzard Wedding Rate). There are a few other hotels available nearby, including the Hampton Inn (4 West Oak Hill Road) and a Best Western Plus in Downtown Jamestown.
    <h3>Things to do in the Jamestown area:</h3>
    <a href="http://www.lakeeriewinecountry.org/">Chautauqua/Lake Erie Wine Trail</a> - This is a great part of the country for wine-lovers, so be sure to check out some of the wineries or take the tour!<br />
    <a href="http://www.lucy-desi.com/">Lucille Ball and Desi Arnaz Center</a> - Lucille Ball was originally from Jamestown, and the center is located in Downtown Jamestown. It has the Lucy-Desi Museum and the Desilu Playhouse. It's only $15 for admission to both, and a must-see for Lucy fans.<br />
    <a href="http://www.ciweb.org/">Chautauqua Institution</a> - The Institution will be closed for the season, but visitors are still welcome to browse the area and enjoy the walk through the beautiful residences. You can pass by the historic Anatheum Hotel and end up on Chautauqua Lake for a boat ride (http://www.tourchautauqua.com/).<br />
    - Ellicotville (x) The Ellicottville Brewery and shops.<br /> 
    - Fenton History Center in Jamestown<br />
    - Robert H. Jackson Center in Jamestown<br />
    <a href="http://www.pknpk.com">Peek n' Peak Resort and Spa</a> - Located only 30 minutes west of Jamestown, the resort features two golf courses, a luxury day spa, and an indoor swimming pool.<br /> 
{% endblock %}
