{% extends 'website/base.html' %}

{% block site_content %}
    <a id="our_story_portrait" class="polaroid_photo" href="#">
        <img class="content_image" src="/static/images/photos/66.jpg" /> 
        <div id="our_story_caption" class="polaroid_photo_caption">
            February 2009
        </div>
    </a>    
    <h2>Welcome!</h2> We can't wait to share our big day with you, and we are just counting the days until September 1st. Hopefully you can find everything you need here about our wedding, including places to stay, ways to get there, and things to do when you arrive. Please check back, because we'll be adding new info every so often. Also while you're here, remember to sign the Guest Book and say hello!

    <br /> 
    <h3>- Erik and Alisen</h3>  
{% endblock %}
