{% extends 'website/base.html' %}

{% block site_content %}
<div class="content_item_left">
    <a id="our_story_portrait" class="polaroid_photo" href="#">
        <div class='slideshow'>
            <img class="content_image" src="/static/images/photos/66.jpg" /> 
        </div>
        <div id="our_story_caption" class="polaroid_photo_caption">
            February 2009
        </div>
    </a>    
    <h2>Welcome to our wedding website!</h2>We hope you can find all the information you need about our wedding, including how to get there, where to stay, and what to do (all of which will all be available on the <a href="/guest_info">Guest Info</a> page). Also while you’re here, remember to sign the <a href="/guest_book">Guest Book</a> and say hello!  We can't wait to share our big day with you!   
    <br />
    <br />
    Love, 
    <br/ > 
    Erik and Alisen
    <br />

</div>
{% endblock %}
