{% extends 'website/base.html' %}

{% block site_content %}
<div class="content_item_left">
    <a id="our_story_portrait" class="polaroid_photo" href="#">
        <div class='slideshow'>
            <img class="content_image" src="/static/images/photos/66.jpg" /> 
        </div>
        <div id="our_story_caption" class="polaroid_photo_caption">
            February 2009
        </div>
    </a>    
    <h2>Welcome!</h2>Welcome to our wedding website!  We hope you can find all the information you need about the wedding, including how to get there, where to stay, what to do and the like (which will all be available on the Guest Info page), and please check back as we will be posting new info every so often.  Also while you’re here, remember to sign the Guest Book and say hello!  We can't wait to share our Big Day with you.   
    <br /> 
    <h3>- Erik and Alisen</h3>  
</div>
{% endblock %}
