{% extends 'website/base.html' %}

{% block site_content %}
    <div class="content_item_left">
        <a id="our_story_portrait" class="polaroid_photo" href="#">
            <img class="content_image" src="https://s3.amazonaws.com/erikandalisen/20.jpg" /> 
            <div id="our_story_caption" class="polaroid_photo_caption">
                September 2008
            </div>
        </a> 
        <h2>
            How We Met
        </h2>    
        <span class='italicized grey'>(By Alisen)</span>When I moved to Tallahassee to finish my degree at FSU, I didn’t have plans to room with anyone, so I opted for random roommates, one of whom was Karissa Hazzard (Erik’s sister).  Mom and I got to the apartment after a 6 hour drive from Stuart, and met Karissa, Sally (Erik’s mom), and Erik, who was helping Karissa move in.  I remember thinking, <em>He’s so cute and tall!</em> and admiring the fact that he was a computer-guy (which always comes in handy!)
        <br /><br /> 
        Since I was living with his sister, Erik often came over, and we found out we had a philosophy class together.  One day he came by, proudly carrying a motorcycle helmet, with his brand new motorcycle outside. I asked if he wanted to take me for a spin after our class.  He came to pick me up, we went to get ice-cream, and I decided I had a big 'ole crush on him!
        <br /><br />
        We saw each other a few more times, and one night Karissa and I had a dinner party and invited Erik. He sat close to me and made cute little nervous jokes, and then asked me to take a drive around Tallahassee on his motorcycle.  It was a clear night, and we could see the stars outside of the city.  We stopped a few times to look at them, and Erik (always the scientist) said, “They are pretty. But it’s just a bunch of gas and dust.” (But don’t let him fool you! He really is a romantic underneath.)<br /><br />
            After that, Erik asked me to be his girlfriend (which, after seeing me with helmet hair meant that he really liked me), and we have been together ever since!  He is the cutest, smartest, and most compassionate person I’ve ever met, and I sometimes look at him and can’t believe my luck that he wants to marry me…<br /><br />
    </div>

    <div class="content_item_left">
        <a id="engagement_photo" class="polaroid_photo" href="#">
            <img class="content_image" src="https://s3.amazonaws.com/erikandalisen/16.jpg" />
            <div id="engagement_photo_caption" class="polaroid_photo_caption">
                December 2011
            </div>
        </a>
        <h2>
            Our Engagement 
        </h2>    
        <span class='italicized grey'>(By Erik)</span> I knew I wanted to marry Alisen quite a while before I proposed.  She makes me happier than anyone ever has, and I knew I had to snatch her up.  I had dropped small hints from time to time, and eventually we ended up going to look at rings together - to get an idea what she liked.  She was not expecting me to propose, as we were preparing to make a big move.  The purpose of looking at rings was just to get an idea that I would sit on (she thought).
        <br /> <br />
        At the jeweler, she found one that made her very excited.  While she was distracted, I snuck a business card and took a picture of the ring she loved.  For the next couple of weeks I looked at other rings and spent time researching different ones, but it was hard to find anything better than the original ring (I liked it as well), so I went with my gut and snuck to the jeweler after work one day to buy it.
        <br /> <br />
        For the next few weeks I had to be sure she wouldn't find the ring, so I hid it inside of a video game box.  I planned the proposal and was quite nervous - I talked to my parents and called her parents before I proposed to tell them my plans, and they were very excited, too.
        <br /> <br />
        I decided to propose to her on her birthday, December 19th.  When she woke up I had breakfast ready for her.  Unfortunately we both had to work, but I left early to set up some flowers and her birthday present in the house.  I picked her up from work and we went to a nice romantic dinner to celebrate her birthday.
        <br /> <br />
        After dinner, we picked up a hot apple cider at Starbucks (I joked that this was her dessert) and we drove home.  At home, I had flowers and a bottle of perfume waiting for her, and inside the fridge was a raspberry elegance cake from Publix (one of her favorites).
        <br /> <br />
        On our first date we took a trip on my motorcycle, got lost, and ended up gazing at the brilliant night sky in the boondocks.  After Alisen opened her birthday present, we hopped in the car and drove out to look at the stars and Christmas lights.  We drove for an hour or so before coming home.  For the entire ride, I had the ring hidden in my jacket pocket...
        <br /> <br />
        When we got home, we got ready to watch the season finale of Dexter.  While Alisen was getting in her pajamas, I took the ring from my jacket.  When she came out to watch the show, I started telling her how happy I was to be with her and how excited I was to move to California and start our new adventure together.
        <br /> <br />
        When she turned around, I got on one knee and when she turned back to face me I had the box and asked "Will you marry me?"  She started tearing up and didn't think it was real, but she said yes!  Afterwards, we talked to our parents and they were thrilled to be gaining new family members. She says it was her best birthday ever, and it was the best day of my life.
    </div>
    <div class="content_item_left">
        <a id="current_photo" class="polaroid_photo" href="#">
            <img class="content_image" src="https://s3.amazonaws.com/erikandalisen/19.jpg" />
            <div id="current_photo_caption" class="polaroid_photo_caption">
                January 2012
            </div>
        </a>
        <h2>
            Life Today 
        </h2>    
        We moved to Berkeley, California this January after Erik was hired to work 
        at a company in San Francisco. He works for a start-up called 
        <a href='http://visual.ly' target='_blank'>Visual.ly</a>, and they make 
        infographics (pictures that tell a story about data).  He is so excited to work with 
        other tech-people and to explore the city.
        <br /><br />
        My most recent job was a manager at Ten Thousand Villages, where I worked with volunteers to
        sell fair trade crafts.  It was a fabulous job, and I was very sad to leave, but I just love the Bay Area.  
        We live in an apartment right beside a park, within walking distance to a foodie-heaven called the 
        "Gourmet Ghetto", and just a short train ride into San Francisco.  
        Our cat, Fiddlesticks, absolutely loves it, because we have windows in 
        every room, and she can perch and watch the world go by.

        <br /><br />  
        While Erik works, I like to make decorations and things for the wedding,
        take trips around Berkeley, bake non-stop, and Erik is also teaching me
        a little bit of programming (we made this super-cute website together!).
        I hope to get a job in the next few months, and still leave myself 
        enough time to plan our wedding. We just love our new home, and 
        hope everyone gets the chance to come visit!

        <br /><br />  
    </div>
{% endblock %}
