{% extends 'website/base.html' %}

{% block site_content %}
<div class="content_item_left">
    <a id="our_story_portrait" class="polaroid_photo" href="#">
        <img class="content_image" src="https://s3.amazonaws.com/erikandalisen/10.jpg" /> 
        <div id="our_story_caption" class="polaroid_photo_caption">
            December 2010
        </div>
    </a>    
    <h2>Wedding Registry</h2>                         
    We are not registered with any one store, but you can see our combined list here on our gift registry website.
    <br /><br />
    <a target="_blank" href="http://www.giftregistry360.com/wishlist/erikandalisen">
        <div id='registry_image_wrapper'>
            <img src="https://s3.amazonaws.com/erikandalisen/giftregistry.gif" />
        </div>
        <br />
        Click here to view our registry!
    </a>
    <br /> 
</div>
{% endblock %}
