{% extends 'website/base.html' %}

{% block site_content %}
<div class="content_item_left">
    <a id="our_story_portrait" class="polaroid_photo">
        <img class="content_image" src="/static/images/photos/bridge.jpg" /> 
        <div id="our_story_caption" class="polaroid_photo_caption">
            February 2012
        </div>
    </a>    
    <h2>Wedding Registry</h2>                         
    <a target="_blank" href="http://www.giftregistry360.com/wishlist/erikandalisen">
        <div id='registry_image_wrapper'>
            <img src="https://s3.amazonaws.com/erikandalisen/giftregistry.gif" />
        </div>
        <br />
       View our online registry
    </a>
    <br />
    (You can also find our shipping information here, should this be more convenient with your travel plans.)
    <br /> 
</div>
{% endblock %}
