{% extends 'website/base.html' %}

{% block site_content %}
    <div class="wedding_party_member_wrapper">
        <h2 class="the_girls">The Girls</h2>
        <a id="maid_of_honor" class="polaroid_photo" href="#">
            <img class="content_image" src="/static/images/photos/haley2.jpg" /> 
        </a> 
        <h3 class='wedding_party_title'>Haley, Maid of Honor</h3>
        Haley and I have been best friends since 7th grade, and she's wonderful! She is a great friend, even when we were continents apart during college. She is super-cool: she can knit the most beautiful scarves and hats, she loves artsy things, and she makes the very best apple pie ever! We’ve kept in touch through college, and now Haley lives in Pensacola, Florida with her sweetie, Matt. I couldn’t imagine my big day without her, and I'm so excited to have her as my MOH!
    </div>
    <div class="wedding_party_member_wrapper">
        <a id="bridesmaid1" class="polaroid_photo" href="#">
            <img class="content_image" src="/static/images/photos/karissa2.jpg" /> 
        </a>  
        <h3 class='wedding_party_title'>Karissa, Bridesmaid</h3>
       Karissa is Erik’s younger sister, and she and I were roommates in my last year of college. Her style is the cutest, and she always has great ideas for clothes, and hair, and makeup, and shoes, and everything! Plus, her cooking is restaurant-quality, and comfort food that makes you feel at home. She is going to start law school in the fall, and one day we will get to call her Judge Hazzard (how cool is that?!) Thank you so much for your help, and for being a great (future) sister-in-law.
    </div>
    <div class="wedding_party_member_wrapper">
        <a id="bridesmaid2" class="polaroid_photo" href="#">
            <img class="content_image" src="/static/images/photos/carolyn2.jpg" /> 
        </a>  
        <h3 class='wedding_party_title'>Carolyn, Bridesmaid</h3>
        Carolyn is engaged to my younger brother, Brett! She has such a big heart, so don't let her see a sad puppy, or it will find a new home :) She is a great friend, and she is so good and sweet to my brother. Carolyn is graduating in April from the University of Floirda, and I'm so happy that she will be a member of our wedding party, and that soon she will be my sister. I can't wait to call you a Warner!
    </div>
    <div class="wedding_party_member_wrapper">
        <br /><br />
        <h2 class="the_guys">The Guys</h2>
    </div>
    <div class="wedding_party_member_wrapper">
        <a id="best_man" class="polaroid_photo" href="#">
            <img class="content_image" src="/static/images/photos/chris2.jpg" /> 
        </a>  

        <h3 class='wedding_party_title'>Chris, Best Man</h3>
        Chris is Erik's best friend, and they met in high school in Brandon, Florida. Sometimes I think they share a brain, because they are always thinkning the same thing! He's a talented web developer and programmer, and says that Erik taught him everything he knows about programming. He loves playing video games with Erik until the wee hours of the night, enjoys a good Guiness, and is always the life of the party. He is currently coming to the wedding stag, so ladies, get ready for a fun night!
    </div>
    <div class="wedding_party_member_wrapper">
        <a id="groomsman1" class="polaroid_photo" href="#">
            <img class="content_image" src="/static/images/photos/brett3.jpg" /> 
        </a>  
        <h3 class='wedding_party_title'>Brett, Groomsman</h3>
        Brett is my younger brother, and he is working on his degree in Engineering at the University of Florida. He'll be graduating in December and marrying the love-of-his-life, Carolyn, in March! Brett is a talented fisherman, a football and baseball man, and a clever Mr. Fix It. Seriously, he can fix anything, as well as build you a bookcase and grow a mean garden. He lives in Gainesville and shares two puppies, Bentley and Nala, with his sweetie and wife-to-be. 
    </div>
    <div class="wedding_party_member_wrapper">
        <a id="warners1" class="polaroid_photo" href="#">
            <img class="content_image" src="/static/images/photos/warners2.jpg" /> 
            <div id="our_story_caption" class="polaroid_photo_caption">
                 Brett, Lynn, Alisen, and Mark
            </div>
        </a>  
        <h3 class="wedding_party_title">The Warner Family</h3>
        The Warners have always been close, and it's been so different with us living all over the country. I'm so glad that Mom and Dad have found a niche in New York, and Brett, I can't wait to see where you end up after college. I know you'll be great, no matter where you are, especially with a wonderful woman by your side. Mom and Dad, thank you for everything you're doing to prepare for the wedding (watch out, or Mom will be the next Wedding Planner in Jamestown!) You have been such great role models, and I hope our marriage can be as happy as yours.
        <br /><br />Love you,
        <br />Ali

    </div>
    <div class="wedding_party_member_wrapper">
        <a id="hazzards" class="polaroid_photo" href="#">
            <img class="content_image" src="/static/images/photos/hazzards.jpg" /> 
            <div id="our_story_caption" class="polaroid_photo_caption">
                 Neil, Erik, Sally, and Karissa
            </div>
        </a>  
        <h3 class="wedding_party_title">The Hazzard Family</h3>
    </div>
{% endblock %}
