{% extends 'base.html' %}

{% block site_content %}
<div class="content_item_left">
    <a id="our_story_portrait" class="polaroid_photo" href="#">
        <div class='slideshow'>
            <img class="content_image" src="/static/images/photos/66.jpg" /> 
        </div>
        <div id="our_story_caption" class="polaroid_photo_caption">
            February 2009
        </div>
    </a>    
    <h2>Welcome to our wedding website!</h2>We hope you can find all the information you need about our wedding, including how to get there, where to stay, and what to do (all of which will all be available on the <a href="/guest_info">Guest Info</a> page). Also while you’re here, remember to sign the <a href="/guest_book">Guest Book</a> and say hello!  We can't wait to share our big day with you!   
    <br />
    <br />
    Love, 
    <br/ > 
    Erik and Alisen
    <br />
    <h2>Update: August 1st</h2> If you'd like to see our Engagment Photos, we just posted <a href="http://www.facebook.com/media/set/?set=a.10100151502110685.2279389.33413469&type=3">this album on Facebook!</a> Thank you to Dorothy Lee - we can't wait to have you take photos at our wedding too!
    <h2>Update: August 7th</h2> You may have noticed the shipping address for our Gift Registry is listed as El Sobrante, CA. While we are away for the wedding and honeymoon, we are having our packages sent to a friend's house for safe-keeping. Thanks!
    <br />

</div>
{% endblock %}
